<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WebShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/webshop.css" th:href="@{/css/webshop.css}"/>
</head>
<body>
<div id="items">
    <form id="itemform" action="#" th:action="@{/itemsPerPage}"  method="post">
        Items per page:
        <select name="limit" id="limit" required="true">
            <option selected="selected" disabled="true">#</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <button type="submit">Go</button>
    </form>
    <form id="sortform" action="#" th:action="@{/sortBy}"  method="post">
        Sort by:
        <select name="property" id="property" required="true">
            <option selected="selected" disabled="true">Select sorting</option>
            <option value="id">Id</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
        <select name="direction" id="direction" required="true">
            <option selected="selected" disabled="true">Select direction</option>
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
        </select>
        <button type="submit">Go</button>
    </form>
    <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="webshopitem : ${webshopitems}">
            <td th:text="${webshopitem.id}"></td>
            <td th:text="${webshopitem.name}"></td>
            <td th:text="${webshopitem.description}"></td>
            <td th:text="${webshopitem.price}"></td>
            <td>
                <form action="#" th:action="@{/addToCart}"  method="post">
                    <button name="addToCart" th:value="${webshopitem.id}" type="addToCart">Add to Cart</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<span>
    <a th:href="@{turnOne/-1}">Previous</a>
    <span> </span>
    <a th:each="page : ${pagecount}" th:text="${page}" th:href="@{'/page/'+${page}}"/>
    <span> </span>
    <a th:href="@{turnOne/1}">Next</a>
</span>
</div>
<div id="cart">
<h2>Shopping Cart</h2>
    <table th:if="${totalprice} == 0">Your shopping cart is empty.</table>
    <table th:unless="${totalprice} == 0">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cartitem : ${cartitems}">
            <td th:text="${cartitem.amount}"></td>
            <td th:text="${cartitem.name}"></td>
            <td th:text="${cartitem.price}"></td>
            <td th:text="${cartitem.totalPrice}"></td>
            <form action="#" th:action="@{'/increment/1/'+${cartitem.id}}"  method="post">
                <td><button name="id" type="increment">+</button></td>
            </form>
            <form action="#" th:action="@{'/increment/-1/'+${cartitem.id}}"  method="post">
                <td><button name="id" type="increment">-</button></td>
            </form>
            <form action="#" th:action="@{'/deleteall/'+${cartitem.id}}"  method="post">
                <td><button name="id" type="deleteall">Remove from Cart</button></td>
            </form>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><h3>Grand total:</h3></td>
            <td th:text="${totalprice}"></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>