body{
    background-color: rgba(221, 214, 204, 1);
    /*background-image: url("http://31.media.tumblr.com/aa221724dda828bf3764c61ad4c677d9/tumblr_mf41x8ffC41rrtbc4o1_400.gif"), url("http://25.media.tumblr.com/tumblr_mc8cbolrrd1resjnxo1_500.gif");*/
    /*background-repeat: repeat repeat;*/
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: rgba(77, 62, 98, 1);
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
    height: 100%;
}
h1{
    background-color: rgba(221, 214, 204, 1);
    /*-webkit-animation: random 1s infinite;*/
    /*animation: random 1s infinite;*/
}
@keyframes  random {
    15% { background-color: red; }
    30% { background-color: gold; }
    45% { background-color: darkgreen; }
    60% { background-color: silver; }
    75% { background-color: white; }
}

.container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
}

table{
    margin: 30px;
    width: 660px;
    font-family: Calibri, Arial, Verdana, sans-serif;
    font-size: 40px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    border: hidden black 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

thead{
    background-color: rgb(27, 30, 36);
    /*animation: random 1s infinite;*/
    color: rgb(171, 178, 185);
    text-align: left;
}

tbody{
    font-size: 26px;
    color: rgb(106, 111, 135);
}

tbody tr:nth-child(odd) {
    background: #eee;
}
tbody tr:nth-child(even) {
    background-color: white;
}

th{
    padding: 20px;
    border-bottom: 1px solid rgb(158, 167, 175);
    border-left: 2px solid rgb(158, 167, 175);
}

thead th:first-child{
    border-left: none;
}

td{
    padding: 20px;
    border-top: 2px solid rgb(193, 195, 208);
    border-left: 2px solid rgb(193, 195, 208);
}

tr td:first-child {
    border-left: none;
}

.button{
    display: inline;
    width: 100px;
    padding: 8px 12px 8px 12px;
    margin: 10px;
    text-align: center;
    border: 1px solid #77aaaa;
    font-family: Arial sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    color: black;
    background: #f6f8f9;
    /*animation: random 1s infinite;*/
}

.button:hover{
    animation: random 0.1s infinite;
}

button{
    display: inline;
    width: 100px;
    padding: 8px 12px 8px 12px;
    margin: 10px;
    text-align: center;
    border: 1px solid #77aaaa;
    font-family: Arial sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    box-shadow: 0px 0px 5px 2px rgba(175,180,181,1);
    color: black;
    background: #f6f8f9;
}

button:hover{
    animation: random 0.1s infinite;
}
