p{
  a
  font-size: 18px;
  border: medium solid black;
  padding: 20px 30px;
  width: 250px;
    }

div{
  width: 314px;
  margin-right: 0px;
  background-image: url("https://github.com/greenfox-academy/teaching-materials/raw/master/tools-and-coding/html-css/duck.png");
  background-repeat: no-repeat;
}

#cl{
  background-position: center left;
}

#cc{
  background-position: center center;
}

#br{
  background-position: bottom right;
}
