<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit-like Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="newpost.html">New Post</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>Actions</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.score}"></td>
                <td><a th:href="@{'/vote/1/'+${post.id}}" th:text="'+'"></a> | <a th:href="@{'/vote/-1/'+${post.id}}" th:text="'-'"></a></td>
                <td th:text="${post.content}"></td>
                <td><a th:href="@{'/del/'+${post.id}}" th:text="x"></a></td>
                <td><a th:href="@{'/edit/'+${post.id}}" th:text="edit"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
