body{
  margin: 0px;
  background-color: white;
  background: -webkit-linear-gradient(top, #ffffff 1%, #f6f6f6 2%);
  background: -moz-linear-gradient(top, #ffffff 1%, #f6f6f6 2%);
  background: linear-gradient(top, #ffffff 1%, #f6f6f6 2%);
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

header{
    margin-left: 140px;
    height: 80px;
    padding-left: 10px;
    z-index: 1;
  }

  #account{
    float: right;
    font-size: 12px;
  }

  .controls{
    margin-bottom: 0px;
    padding-top: 61px;
    font-size: 12.8px;
    position: relative;
  }

  .controls a{
    border-collapse:collapse;
    margin-right: 0px;
    display: inline;
    width: 100px;
    padding: 7px;
    text-align: center;
    border-right: 1px solid rgb(167, 215, 249);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    font-family: sans-serif;
    color: rgb(6, 69, 173);
    background: rgba(255, 255, 255, 0)
    background: linear-gradient(top, rgba(255, 255, 255, 0), 20%, rgba(185, 222, 248, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(185, 222, 248, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(185, 222, 248, 1) 100%);
    z-index: 100;
  }

  #active {
    background: rgba(255, 255, 255, 1);
    border-left: 1px solid rgb(167, 215, 249);
    z-index: 101;
  }

  #right {
    float: right;
    position: absolute;
    right: 0px;
    top: 58px;
    z-index: 101;
  }

  form{
    display: inline-block;
  }

  input{
    margin-left: 7px;
  }

aside{
      background-image: url("images/logo.png");
      background-repeat: no-repeat;
      height: 100%;
      width: 135px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      margin: 5px 10px 0px 10px;
      font-family: sans-serif;
  }

  #nav{
      position: relative;
      top: 155px;
  }

  #nav > ul{
      font-size: 0.75em;
      list-style-type: none;
      padding-left: 5px;
  }

  #nav > ul > li{
      padding: 2px;
  }

  #nav > p{
      font-size: 0.75em;
      padding: 0px;
      margin: 10px 0px 0px 0px;
  }

  #nav > p + ul{
      padding-left: 10px;
      margin-top: 0px;
  }

  hr {
      border: 0;
      margin: 0;
      height: 1px;
      background: rgba(0, 0, 0, 0);;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
      background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  }

article{
    margin-left: 150px;
    margin-right: 0px;
    background-color: white;
    position: relative;
    height: auto;
    border: 1px solid #a7d7f9;
    border-right-color: white;
    padding: 20px;
    font-family: sans-serif;
    z-index: 0;
    }

    .infobox{
      width:22em;
      float: right;
      border: 1px solid #aaa;
      border-spacing: 3px;
      background-color: #f9f9f9;
      color: black;
      margin: 0.5em 0 0.5em 1em;
      padding: 0.2em;
      float: right;
      clear: right;
      font-size: 80%;
      line-height: 1.5em;
    }

  article > h1, h2{
    border-bottom: 1px solid grey;
  }

  h1{
    font-size: 1.8em;
    font-family: "Linux Libertine", Georgia, Times, serif;
    margin-bottom: 0.25em;
    padding: 0;
    font-weight: normal;
  }

  h1 + p{
    font-size: 80%;
    margin: 0px;
    padding-top: 2px;
  }

  h1 + p + p{
    font-style: italic;
    padding-left: 1.6em;
    margin-bottom: 0.5em;
    line-height: 1.6;
    font-size: 0.875em;
  }

  p{
    margin: 0.5em 0;
    font-size: 0.875em;
    line-height: 1.6;
  }

  .toc{
    display: table;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 7px;
    line-height: 1.6;
    font-size: 88%;
    z-index: 2;
  }

  #toctitle > p{
    font-weight: bold;
  }
  .toc > ul{
    margin: .3em 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 88%;
  }
  .toc > ul > li{
    padding-top:  2px;
  }
  .toc > ul > li> ul{
      list-style-type: none;
      padding-left: 25px;
    }

  h2{
    font-size: 1.5em;
    font-family: "Linux Libertine", Georgia, Times, serif;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .pic{
    width: 20px;
    float: right;
    border: 1px solid #aaa;
    border-spacing: 3px;
    background-color: #f9f9f9;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    font-size: 88%;
    }

  h3{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    }

  blockquote{
    line-height: 1.6;
    font-size: 0.875em;
  }

  h3 + ul{
    padding: 0;
    margin: 0;
  }
  h3 + ul > li{
    margin: 0.3em 0 0 1.6em;
    padding: 0;
    line-height: 1.6;
    font-size: 0.875em;
  }

  h2 + ul{
    padding: 0;
    margin: 0;
  }
  h2 + ul > li{
    margin: 0.3em 0 0 1.6em;
    padding: 0;
    line-height: 1.6;
    font-size: 0.875em;
  }

  h2 + ol{
    padding: 0;
    margin: 0px 0px 0px 30px;
    column-count: 3;
  }

  h2 + ol > li{
      font-size: 0.8em;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
    line-height: 1.6;
  }

footer{
    min-height: 100px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 170px;
    font-size: 0.7em;
    }
