body{
  margin: 0px;
  background-color: white;
  background: -webkit-linear-gradient(top, #ffffff 0%, rgb(240, 246, 246) 10%);
  background: -moz-linear-gradient(top, #ffffff 0%, rgb(246, 246, 246) 10%);
  background: linear-gradient(top, #ffffff 0%, rgb(246, 246, 246) 10%);
}

header{
    margin-left: 140px;
    height: 70px;
    padding-left: 10px;
    z-index: 1;
  }

  #account{
    float: right;
    font-size: 12px;
  }

  .controls{
    margin-bottom: 0px;
    padding-top: 50px;
    font-size: 12.8px;
    position: relative;
  }

  .controls a{
    border-collapse:collapse;
    margin-right: 0px;
    display: inline;
    width: 100px;
    padding: 7px;
    text-align: center;
    border-right: 1px solid rgb(167, 215, 249);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    font-family: sans-serif;
    color: rgb(6, 69, 173);
    background: rgba(255, 255, 255, 0)
    background: linear-gradient(top, rgba(255, 255, 255, 0), 20%, rgba(185, 222, 248, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(185, 222, 248, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(185, 222, 248, 1) 100%);
    z-index: 100;
  }

  #first {
    background: rgba(255, 255, 255, 1);
    border-left: 1px solid rgb(167, 215, 249);
  }

  #right {
    float: right;
    position: absolute;
    right: 0px;
    top: 48px;
  }

  form{
    display: inline-block;
  }

  input{
    margin-left: 7px;
  }

aside{
      background-image: url("images/logo.png");
      background-repeat: no-repeat;
      height: 100%;
      width: 135px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      margin: 5px 10px 0px 10px;
      font-family: sans-serif;
  }

  #nav{
      position: relative;
      top: 155px;
  }

  #nav > ul{
      font-size: 0.75em;
      list-style-type: none;
      padding-left: 5px;
  }

  #nav > ul > li{
      padding: 2px;
  }

  #nav > p{
      font-size: 0.75em;
      padding: 0px;
      margin: 10px 0px 0px 0px;
  }

  #nav > p + ul{
      padding-left: 10px;
      margin-top: 0px;
  }

  hr {
      border: 0;
      margin: 0;
      height: 1px;
      background: rgba(0, 0, 0, 0);;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
      background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
      background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  }

article{
    margin-left: 150px;
    margin-right: 0px;
    background-color: white;
    position: relative;
    height: auto;
    border: 1px solid #a7d7f9;
    padding: 20px;
    z-index: -1;
    }

  article > h1, h2{
    border-bottom: 1px solid grey;
  }

footer{
    width: 100%;
    min-height: 100px;
    }
