<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/greeting.css"/>
</head>
<body>
<p th:each="hello : ${hellos}">
<p th:style="'font-size:'+${hello[2]}+'px;color:'+${hello[1]}+';'" th:text=" ${hello[0]} +' ' + ${name} + '!'"/>
</p>
<p th:text="'This site was loaded '+ ${counter} + ' times since last server start.'"/>
</body>
</html>