div{
  overflow: hidden;
  width: 40%;
}

p{
  font-size: 18px;
  border-bottom: medium solid black;
  padding: 20px 30px;
  margin: 0px;
  text-align: justify;
}

img{
  padding: 20px;
  margin: 0px;
  }

div.left > img {
  float: left;
}

div.right > img{
  float: right;
  }
